body {
    font-family: "Times New Roman";
    margin: 0px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}
.navbar {
    display: -webkit-flex;
    display: flex;

    justify-content: flex-end;
    align-items: center;

    height: 50px;
    min-height: 50px;

    margin: 0px;

    background: #FFD7A7;
}

.nav-elem {
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 30px 0 30px;
    height: 100%;
    border: 2px solid transparent;
}
.nav-elem a {
    /*align-self: center;*/
}

.nav-elem:hover {
    cursor: pointer;
    border-color: darkturquoise;
}
.pop-up {
    position: absolute;
    top: 50px;
    left: -100%;
    width: 250px;
    max-height: 300px;

    z-index: 1;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    display: none;
    background: gainsboro;
}

.hidden-elements {

}


li:hover .pop-up {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    /*padding: 10px 10px 0 10px;*/
}

.pop-up-item, .hidden-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 60px;
    font-size: 14px;
    text-align: center;
    color: #4671C6;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
}

.hidden-elements {
    display: none;
}

#show-more {
    display: none;
}

#show-more:checked ~ .hidden-elements {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#show-more:checked ~ .show-more-label {
    display: none;
}




